Externals/
Sistem.Data.SQLite/
SQLite/
SQLite_x64/
SQLiteDatabaseBrowserPortable/
clientWPF/.vs
ProgettoGestoreFile/.vs
clientWPF/clientWPF/bin
clientWPF/clientWPF/obj
ProgettoGestoreFile/.vs
ProgettoGestoreFile/ProgettoMalnati/bin
ProgettoGestoreFile/ProgettoMalnati/obj
*.suo
