<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WPFPageSwitch.Properties.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WPFPageSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WPFPageSwitch.Properties.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WPFPageSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <WPFPageSwitch.Properties.LogSettings>
            <setting name="level" serializeAs="String">
                <value>0</value>
            </setting>
        </WPFPageSwitch.Properties.LogSettings>
        <WPFPageSwitch.Properties.Settings>
            <setting name="base_path" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="ip_address" serializeAs="String">
                <value>192.168.1.34</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>7777</value>
            </setting>
        </WPFPageSwitch.Properties.Settings>
        <WpfApplication1.Properties.Settings>
            <setting name="path_monitorato" serializeAs="String">
                <value/>
            </setting>
            <setting name="user" serializeAs="String">
                <value/>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value/>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WPFPageSwitch.Properties.LogSettings>
            <setting name="log_on_console" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_file" serializeAs="String">
                <value>gestore_file.log</value>
            </setting>
            <setting name="log_path" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="message_max_lenght" serializeAs="String">
                <value>1024</value>
            </setting>
        </WPFPageSwitch.Properties.LogSettings>
        <WPFPageSwitch.Properties.Settings>
            <setting name="nome_db" serializeAs="String">
                <value>ClientDB.sqlite</value>
            </setting>
            <setting name="numero_file" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="snapshot_per_file" serializeAs="String">
                <value>3</value>
            </setting>
        </WPFPageSwitch.Properties.Settings>
    </applicationSettings>
</configuration>
